<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>asasas</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<h3>asdasdasd</h3>
<div id="app">{{messages-list}}</div>
<script src="/js/main.js"></script>
</body>
</html>